// import

@import "../../styles/variables";

// style

.shop {
   .shop__body {
      width: 80%;
      margin: 0 auto;
      .slick-slider {
         margin: 5vh 0 0 0;
         .slider__item {
            width: 70vw !important;
            height: 70vh;
            overflow: hidden;
            border-radius: 10px;
            margin: 0 auto;
            display: flex !important;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: relative;
            color: $first;
            font-family: $Nunito;
            padding: 0 2%;
            &:hover {
               background-size: 120%;
               transition: background-size 0.5s ease;
            }
            &:hover::before {
               transform: scale(1.1);
            }
            &:before {
               content: "";
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background-size: cover;
               background-position: center;
               transition: transform 0.5s ease;
            }
            span {
               color: $sixth;
            }
            h1,h2,h3,p,a {
               z-index: 5;
            }
            .overlay {
               border-radius: 10px;
               position: absolute;
               width: 100%;
               left: 0;
               height: 100%;
               background: rgba(0, 0, 0, 0.3);
               z-index: 1;
            }
            .slider__item-title {
               font-size: 75px;
               font-weight: bold;
               margin: 5% 0;
            }
            .slider__item-subtitle {
               line-height: 38px;
               max-width: 48%;
               font-size: 30px;
               margin: 0px 0 6% 0;
               img {
                  width: 3wv;
                  height: 3vw;
               }
            }
            .slider__item-button {
               position: relative;
               padding: 0 40px;
               height: 64px;
               display: flex;
               justify-content: center;
               align-items: center;
               color: $first;
               font-size: 24px;
               border: 1px solid $first;
               cursor: pointer;
               transition: all 0.4s;
               &::before,
               &::after {
                  content: "";
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  transition: 0.3s ease-in-out;
               }

               &::before {
                  top: -5px;
                  left: -5px;
                  border-top: 1px solid $first;
                  border-left: 1px solid $first;
               }

               &::after {
                  right: -5px;
                  bottom: -5px;
                  border-bottom: 1px solid $first;
                  border-right: 1px solid $first;
               }
               &:hover::before {
                  border-top: 1px solid $first;
                  border-left: 1px solid $first;
                  transition: all 0.5s;
               }
               &:hover::after {
                  border-bottom: 1px solid $first;
                  border-right: 1px solid $first;
                  transition: all 0.5s;
               }
               &:hover::before,
               &:hover::after {
                  width: calc(100% + 9px);
                  height: calc(100% + 9px);
               }
            }
         }
         ul.slick-dots {
            position: absolute;
            bottom: 0;
            li {
               button {
                  &:before {
                     color: $first;
                  }
               }
            }
         }
         .slider__coupon {
            background: url("../../assets/img/shop_slider_image.jpg") no-repeat 0 0 / 100% 100%;
            &:before {
               background-image: url("../../assets/img/shop_slider_image.jpg");
            }
         }
         .slider__birthday {
            background: url("../../assets/img/shop_slider_image2.jpg") no-repeat 0 0 / 100% 100%;
            &:before {
               background-image: url("../../assets/img/shop_slider_image2.jpg");
            }
            p.slider__item-subtitle {
               margin: 0 0 9% 0;
            }
         }
         .slider__delievery {
            background: url("../../assets/img/shop_slider_image4.jpg") no-repeat 0 0 / 100% 100%;
            align-items: center;
            &:before {
               background-image: url("../../assets/img/shop_slider_image4.jpg");
            }
            .slider__item-title {
               text-align: center;
            }
            p.slider__item-subtitle {
               margin: 3% 0 9% 0;  
            }
            .overlay {
               background: rgba(0, 0, 0, 0.6);
            }
         }
      }
   }
}
